
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


body{
    background-color: #fff;
}

.fh5co-nav #fh5co-logo  {
    width: 500px;
    font-size: 65px;
    font-family: 'Prata', serif;
}

p{
    background-color: rgba(255, 255, 255, 0.9);
}

span.round{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #000;
}

.fh5co-nav #fh5co-logo a span{
    vertical-align: -5px;
    font-family: 'Roboto', sans-serif;
    font-size: 95px;
}